/*--- Reset ---*/
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}

/*--- Variáveis ---*/
:root {
 --primary-color: #4A2F14;
 --secondary-color: #B5935A;
 --light-color: #E6CF98;
 --transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

/*--- Estrutura Principal ---*/
.conteudo-principal {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

body {
 background-color: var(--secondary-color);
 width: 100vw;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 gap: 20px;
}

/*--- Título da página ---*/
.titulo-principal {
 margin: 30px 0 0 0;
}

/*--- Formulário ---*/
.formulario, .saida-formulario {
 max-width: 500px;
 margin: 0 auto;
 background-color: var(--light-color);
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset.grupo-campos {
 border: 2px solid var(--primary-color);
 border-radius: 6px;
 padding: 5px;
 margin-bottom: 20px;
}

.titulo-campo {
 font-size: 1.2rem;
 font-weight: bold;
 color: var(--primary-color);
 padding: 0 10px;
}

.campo-formulario {
 display: flex;
 flex-direction: column;
 margin-bottom: 15px;
}

.campo-label {
 margin-bottom: 5px;
 font-weight: 500;
 color: var(--primary-color);
}

.campo-input, .campo-textarea {
 padding: 8px 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 font-size: 1rem;
}

.campo-input:focus {
 border-color: var(--primary-color);
 outline: none;
 box-shadow: 0 0 3px var(--primary-color);
}

/*--- Campo de saída ---*/
#resposta-formulario {
 display: none; /* Ativado no JS */
}

.mensagem-envio {
 font-weight: bold;
 color: var(--primary-color);
}

/* --- Botões ---*/
.grupo-botoes {
 display: flex;
 gap: 10px;
}

.btn {
 padding: 10px 20px;
 font-size: 1rem;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 background-color: var(--primary-color);
 color: white;
 transition: var(--transition);
}

.botao-enviar:hover, .botao-limpar:hover {
 background-color: #36220e;
 transform: scale(1.01); 
}

/*--- Rodapé ---*/
.rodape {
 background-color: var(--primary-color);
 width: 100%;
 color: var(--light-color);
 padding: 10px;
 text-align: center;
}

@media(min-width: 1024px) {
 .formulario, .saida-formulario {
  min-width: 500px;
 }
}
