/*
    ------------
    Reset Global
    ------------
*/

* {
 margin: 0;  
 padding: 0;  
 box-sizing: border-box;  
 font-size: 16px;  
}

/*
   -----------------
   Variáveis Globais
   -----------------
*/

:root {
 --dark-color: #BFBA9B;  /* Cor escura (usada em fundo ou texto) */
 --medium-color: #F3B562;  /* Cor intermediária (usada em botões, destaques) */
 --light-color:#F2EBBF;  /* Cor clara (usada em fundos ou para destacar) */
 
 --font--bold: bold;  /* Definição de peso de fonte em negrito */
 --border-radius: 5px;  /* Arredondamento das bordas */
 --border-none: none;  /* Remoção da borda */
}

/*
   ------------------
   Layout e Estrutura
   ------------------
*/

.main {
 display: flex;  
 align-items: center;  
 justify-content: center;  
 width: 100vw;  
 height: 100vh;  
 margin: auto;  
}

/*
   ----------
   Formulário
   ----------
*/

.card {
 background-color: var(--light-color);  
 border-radius: var(--border-radius);  
 display: flex;  
 flex-direction: column; 
 align-self: center;  
 justify-content: center;  
 gap: 10px;   
 width: 100%;  
 padding: 10px 20px;  
 margin: 10px 0 0 0; 
 text-align: center;
}

#card-footer {
 visibility: hidden;  
 opacity: 0;  
 transition: opacity 0.5s ease-in-out;  
}

/* Quando a classe 'visible' é adicionada, a card-footer se torna visível */
#card-footer.visible {
 visibility: visible;  
 opacity: 1;  
}

.input {
 border: var(--border-none);  
 border-radius: var(--border-radius); 
 padding: 10px;  
}

.input::placeholder {
 font-weight: var(--font--bold);  
}

.span{
   font-weight: var(--font--bold);
   color: red;
   font-size:35px;
}

/*
   -----------------
   Estilo dos Botões
   -----------------
*/

.btn {
 background-color: var(--medium-color); 
 border: var(--border-none);  
 padding: 10px;
 color: white;  
 border-radius: var(--border-radius);  
 font-weight: var(--font--bold); 
 transition: 1s all;  
}

/* Efeito de hover no botão */
.btn:hover {
 background-color: var(--dark-color);  
}
/*
   ------------------
   Estilo da Resposta
   ------------------
*/

.outputResult {
 font-weight: var(--font--bold);  
 padding: 10px;  
 border-radius: var(--border-radius);  
 max-width: 230px;  
}

#output {
 padding: 10px;  
 border-radius: 5px;  
 transition: background-color 0.3s ease; 
}

/*
   --------------
   Responsividade
   --------------
*/

@media (min-width: 1200px) {  /* Quando a largura da tela for maior que 1200px (telas grandes) */
 .card {
   flex-direction: row;  
   max-height: 60px;  
 }

 .outputResult {
   max-width: 400px; 
 }
}
